// bower:scss
// endbower

// color definitions
$orange-1:  #f14f14;
$gray-1:    #708090;
$gray-2:    #646464;
$gray-3:    #48525c;
$gray-4:    #dcdce0;
$black:     #141414;
$ghost:     #fafaff;
$white:     #ffffff;