// bower:scss
// endbower

@import 'base/_meyer_reset';
@import 'base/_typography';
@import 'base/_colors';

//@include meyer-reset;

body {
  background: $ghost;
  font-family: $Source-Sans;
  color: $black;
  font-size: $global-font-size;
  font-weight: 300;
}

h1 {
  font-family: $Titillium;
  color: $gray-2;
  font-size: 36px;
  font-weight: 700;
}