// bower:scss
// endbower

// Source Sans Font Family
// Light and Light Italic
/* Google Font Imports */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i');
$Source-Sans: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;

// Titillium Web Font Family
// Regular and Bold
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');
$Titillium: 'Titillium Web', 'Helvetica Neue', Arial, sans-serif;

// Global Declarations
$global-font-size: 16px;